.footer {
  background-color: #000000;
  padding: 20px 0;
  border-top: 4px #ff0000 solid;
  height: 10vh;
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}
.footer div {
  padding: 0 20px;
  width: 100%;
  justify-content: left;
}
